.ui-dateranger-selected .ui-state-default {
	background: blue;
	color: #fff;
}

input.selected {
	border: 2px solid blue;
}

#dateranger-date_range_placeholder {
	padding: 10px;
}

.ui-dateranger-small {
	font-size: 62.5%;
}